<a href="https://colab.research.google.com/github/abhinandtk/python_data_types/blob/main/python_task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. Create a list with all items and create new list from the existing list

In [ ]:
li=["hello","this","is ","python",1,2,3,4]

In [ ]:
li1=li[:5]

In [ ]:
li1#created

['hello', 'this', 'is ', 'python', 1]

In [ ]:
2. Create a list and print the itwms from second index to sixth index

In [ ]:
li2=["ronaldo","neymar","messi","suarez","mbappe","benzema","kaka"]

In [ ]:
li2[2:6]#created

['messi', 'suarez', 'mbappe', 'benzema']

In [ ]:
3. Create tuple and perform inser, append operations. Print the index of second last element.

In [ ]:
t1=("ronaldo","neymar","messi","suarez","mbappe","benzema","kaka")

In [ ]:
x=list(t1)

In [ ]:
x.insert(2,"beckam")#insert

In [ ]:
x.append("cafu")#append

In [ ]:
x

['ronaldo',
 'neymar',
 'beckam',
 'beckam',
 'messi',
 'suarez',
 'mbappe',
 'benzema',
 'kaka',
 'cafu']

In [ ]:
t2=tuple(x)

In [ ]:
t2.index(x[-2])

9

In [ ]:
x[-4]

'benzema'

In [ ]:
t3=("ronaldo","neymar","messi","suarez")

In [ ]:


x = t3.index("messi")

In [ ]:
x

2

In [ ]:
x = t3.index(t3[-2])#index of second last element

In [ ]:
x

2

In [ ]:
t3[-2]

'messi'

In [ ]:
4. Create a set with 7 elements and perform the following,
     * add an element
     * remove an element

In [ ]:
s1={1,2,3,4,5,6,7}

In [ ]:
s1.add(8)#add an element

In [ ]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1.remove(7)#remove an element

In [ ]:
s1

{1, 2, 3, 4, 5, 6}

1.write a python program to sum all the items in a list

In [ ]:
x=[1,3,5,8]

In [ ]:
x[0]+x[1]+x[2]+x[3]#add items in a list

17

In [ ]:
li=[1,2,3,10,100]

In [ ]:
2.write a python program to get largest number from a list

In [ ]:
max(li)#get the largest number

100

In [ ]:
3.write a python program to get smallest number from a list

In [ ]:
min(li)#get the minimum number

1

In [ ]:
4.write a python program to check the list is empty or not

In [ ]:
length=len(li)

In [ ]:
if(length==0):
  print("list is empty")
else:
  print("list is not empty")#list is empty or not

list is not empty

In [ ]:
5.write a python program to copy a list

In [ ]:
li1=li#copy a list

In [ ]:
li1

[1, 2, 3, 10, 100]

In [ ]:
6.write a python program to access the index of a list

In [ ]:
li.index(10)#access the index

3

In [ ]:
7.write a python program to append a list to the second list

In [ ]:
li2=[8,9,10]

In [ ]:
li+li2#append lists

[1, 2, 3, 10, 100, 8, 9, 10]

In [ ]:
8.write a python program to extend a list without append

In [ ]:
li=[1,2,3]

In [ ]:
li2=[4,5,6]

In [ ]:
li+li2

[1, 2, 3, 4, 5, 6]

In [ ]:
9.write a python program to concatentate elements of a list

In [ ]:
li=[1,2,3,4,5]
sum=0
for i in li:
  sum=sum+i
print(sum)

15

In [ ]:
10.write a python program to convert a string t a list

In [ ]:
x="a","b"

In [ ]:
li=list(x)

In [ ]:
li

['a', 'b']

In [ ]:
11.write a python program to select the odd items of a list

In [ ]:
li=[1,2,3,4,5,6,7,8,9,10]
for i in li:
  if(i%2!=0):
    print(i)

1
3
5
7
9

In [ ]:
12.write a python program to find common items from two lists

In [ ]:
li1=[1,2,3,4,5,6,7]
li2=[4,5,6,7,8,9]
print(set(li1)&set(li2))

{4, 5, 6, 7}

In [ ]:
13.write a python program to get unique values from a list

In [ ]:
li3=[1,2,3,4,4]
set(li3)

{1, 2, 3, 4}

In [ ]:
li=["messi","suarez","neymar","kaka","ronaldinho"]
for i in range(0,4):
  if(i%2!=0):
    print(li[i])

suarez
kaka

In [ ]:
n=[]
li1=[]
a=int(input("enter limit"))
for i in range(0,a):
 b=int(input("enter the values"))          #odd items from a list
 li1.append(b)
 if(i%2!=0):
  n.append(li1[i])
print(n)

enter limit4
enter the values1
enter the values2
enter the values3
enter the values4
[2, 4]

In [ ]:
li=[]
for i in range(0,4):
  x=input("enter your name")
  li.append(x)
print(li)

enter your nameiuhy
enter your namehbhn
enter your nameuyhu
enter your nameygyutb
['iuhy', 'hbhn', 'uyhu', 'ygyutb']

In [ ]:
lii=[]
while True:
  x=input("enter your name")
  lii.append(x)
  print(lii)

['ybgvbh']
['ybgvbh', 'b hb ']
['ybgvbh', 'b hb ', 'jn']
['ybgvbh', 'b hb ', 'jn', 'yhyby']

In [ ]:
nm