<a href="https://colab.research.google.com/github/abhinandtk/python_data_types/blob/main/python_task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.write a python program  to create a set

In [ ]:
s1={"messi","neymar","suarez","kaka"}

In [ ]:
s1

{'kaka', 'messi', 'neymar', 'suarez'}

In [ ]:
#2.write a python program to remove item(s) from python set

In [ ]:
s1

{'kaka', 'messi', 'neymar', 'suarez'}

In [ ]:
s1.remove("suarez")

In [ ]:
#3.write a python program to add member(s) in a set

In [ ]:
s1.add("suarez")

In [ ]:
set={""}
s=(input("enter add value"))
for i in s:
 set.add(s)                        #another method
print(set)

enter add value3
{'', '3'}

In [ ]:
#4.Write a Python program to create an intersection, union, set difference, symmetric difference of sets.

In [ ]:
s2={"ronaldo","suarez","bale"}
y=s1.intersection(s2)          #intersection

In [ ]:
y

{'suarez'}

In [ ]:
s3={"neymar"}

In [ ]:
z=s1.difference(s3)

In [ ]:
z

{'kaka', 'messi', 'suarez'}

In [ ]:
s1.symmetric_difference(z)

{'neymar'}

In [ ]:
#5.Write a Python program to create a shallow copy of sets.

In [ ]:
se1={1,4,5}
se2={2,3}
se3=se2.copy()

In [ ]:
se3

{2, 3}

In [ ]:
#6.Write a Python program to remove all elements from a given set.

In [ ]:
x={"hello","hai","how"}

In [ ]:
x.clear()

In [ ]:
x

set()

In [ ]:
#7.Write a Python program to find the length of a set.

In [ ]:
y={"hello","hai","how"}

In [ ]:
len(y)

3

In [ ]:
#8.Write a Python program to check if a set is a subset of another set.

In [ ]:
n1={"hello","hai","how","who"}
n2={"hello","hai"}

In [ ]:
z1=n2.issubset(n1)

In [ ]:
z1

True

In [ ]:
#9.Python Program to Add a Key-Value Pair to the Dictionary

In [ ]:
d1={"name":"Abhinand","age":21,"class":12}

In [ ]:
d1

{'name': 'Abhinand', 'age': 21, 'class': 12}

In [ ]:
#10.Write a Python program to iteration over sets.

In [ ]:
s4={1,2,3,4,5}
for i in s4:
  print(i)

1
2
3
4
5

In [ ]:
#11.Write a Python script to add a key to a dictionary.

In [ ]:
d1["place"]="narikkuni"

In [ ]:
d1

{'name': 'Abhinand', 'age': 21, 'class': 12, 'place': 'narikkuni'}

In [ ]:
#12.Python Program to Remove the Given Key from a Dictionary

In [ ]:
d2={"name":"Abhinand","age":21,"class":1}

In [ ]:
del d2["age"]

In [ ]:
d2

{'name': 'Abhinand', 'class': 1}

In [ ]:
#13.Write a Python program to check if two given sets have no elements in common.

In [ ]:
s11={1,2,3,4}
s22={4,7,8,9,10}
count=0
for i in s11:
  for j in s22:
    if(i==j):
      print(i)
      count=count+1
if(count==0):
 print("no duplication element")
else:
 print(count," duplication element")

4
1  duplication element

In [ ]:
s11={1,2,3,4}
s22={7,4,2,10}
x=0
for i in s11:
  if(i in s22):
    print(i)
    x=x+1
if(x==0):
  print("no duplicate elements")
else:
  print(x," duplication elements")

2
4
2  duplication elements

In [ ]:
#14.Python Program to Sum All the Items in a Dictionary

In [ ]:
d2

{'name': 'Abhinand', 'class': 1}

In [ ]:
d3={"abhi":21,"afnan":21,"ashif":21,"rahul":21}

In [ ]:
print(sum(d3.values()))

84

In [ ]:
sum=0
d3={"abhi":21,"afnan":21,"ashif":21,"rahul":21}
for i in d3:
  sum=sum+d3[i]
print(sum)

84

In [ ]:
#15.Python Program to Multiply All the Items in a Dictionary

In [ ]:
d3={"abhi":21,"afnan":21,"ashif":21,"rahul":21}

In [ ]:
mul=1
d3={"abhi":21,"afnan":21,"ashif":21,"rahul":21}
for i in d3:
  mul=mul*d3[i]
print(mul)

194481

In [ ]:
21*21*21*21

194481

21