<a href="https://colab.research.google.com/github/abhinandtk/python_data_types/blob/main/python_task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program in Python to display the Factorial of a number.

In [ ]:
a=int(input("enter factorial number"))
fact=1
for i in range(1,a+1):
 fact=fact*i
print("factorial of",a,"is",fact)

enter factorial number5
factorial of 5 is 120

2.Write a program in Python to reverse a word.

In [ ]:
d=[]
b=(input("enter the string to reverse :"))
c=len(b)
for i in range(c-1,-1,-1):
  d.append(b[i])
print(d)

enter the string to reverse :hai
['i', 'a', 'h']

In [ ]:
txt=(input("enter a string :"))
n=txt[::-1]
print(n)

enter a string :hai
iah

3.Write a Python program to reverse a number.

In [ ]:
n=(input("enter a number :"))
s=n[::-1]
print(s)

enter a number :479
974

4.Write a program to print n natural number in descending order using a while loop.

In [ ]:
a=int(input("enter limit of the natural numbers"))
while (a>=0):
  print(a)
  a=a-1

enter limit of the natural numbers5
5
4
3
2
1
0

5.Write a program to display the first 7 multiples of 7.

In [ ]:
for i in range(1,8):
  b=i*7
  print(i,"*7=",b)

1 *7= 7
2 *7= 14
3 *7= 21
4 *7= 28
5 *7= 35
6 *7= 42
7 *7= 49

6.Write a program that appends the square of each number to a new list.

In [ ]:
li=[]
a=int(input("enter how many numbers"))
for i in range(0,a):
 b=int(input("enter the number"))
 c=b**2
 li.append(c)
print(li)

enter how many numbers4
enter the number1
enter the number2
enter the number3
enter the number4
[1, 4, 9, 16]

7.WAP to separate positive and negative number from a list.

In [ ]:
n=[]
p=[]
li=[1,-2,8,-8,9,]
l=len(li)
for i in li:
  if(i>0):
    p.append(i)
  elif(i<0):
    n.append(i)
print(p,"are positive numbers")
print(n,"are negative numbers")

[1, 8, 9] are positive numbers
[-2, -8] are negative numbers

8.Write a program that appends the type of elements from a list.

In [ ]:
li=[1,"hai",8,"hello"]
l=[]
for i in li:
  l.append(type(i))
print(l)

[<class 'int'>, <class 'str'>, <class 'int'>, <class 'str'>]

9.Write a program to filter even and odd number from a list.

In [ ]:
n=[]
p=[]
li=[1,2,5,6,8,9]
l=len(li)
for i in li:
  if(i%2==0):
    p.append(i)
  elif(i%2!=0):
    n.append(i)
print(p,"are even  numbers")
print(n,"are odd numbers")

[2, 6, 8] are even  numbers
[1, 5, 9] are odd numbers

10.Write a program to fetch only even values from a dictionary.

In [ ]:
di={"a":1,"b":2,"c":3,"d":4,"e":5}
for i in di:
  if(di[i]%2==0):
   print(di[i])

2
4