<a href="https://colab.research.google.com/github/abhinandtk/python_data_types/blob/main/python_task6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(0,10):
  for j in range(0,i+1):
    print("*",end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(10,0,-1):
  for j in range(10,i-1,-1):
    print(" ",end=' ')
  for k in range(0,i-1):
    print("*",end=' ')
  print()

  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
for i in range(0,10):
  for j in range(0,10-i):
    print(" ",end=' ')
  for k in range(0,i+1):
    print("*",end=' ')
  print()

                    *
                  * *
                * * *
              * * * *
            * * * * *
          * * * * * *
        * * * * * * *
      * * * * * * * *
    * * * * * * * * *
  * * * * * * * * * *

In [ ]:
for i in range(10,0,-1):
  for j in range(0,i-1):
   print("*",end=' ')
  print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
print("                   *")
for i in range(10,0,-1):
  for j in range(0,i-1):
    print(" ",end=' ')
  for k in range(10,i-1,-1):
    print("*",end=' ')
  for l in range(10,i-1,-1):
    print("*",end=' ')
  for m in range(0,i-1):
    print(" ",end=' ')
  print()

                   *
                  * *
                * * * *
              * * * * * *
            * * * * * * * *
          * * * * * * * * * *
        * * * * * * * * * * * *
      * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *

In [ ]:
for i in range(10,0,-1):
  for j in range(10,i-1,-1):
    print(" ",end=' ')
  for k in range(0,i-1):
    print("*",end=' ')
  for l in range(0,i-1):
    print("*",end=' ')
  for m in range(10,i-1,-1):
    print(" ",end=' ')
  print ()

  * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * *
        * * * * * * * * * * * *
          * * * * * * * * * *
            * * * * * * * *
              * * * * * *
                * * * *
                  * *

In [ ]:
for i in range(10,0,-1):
  for j in range(0,i-1):
    print(" ",end=' ')
  for k in range(10,i-1,-1):
    print("*",end=' ')
  for l in range(10,i-1,-1):
    print("*",end=' ')
  for m in range(0,i-1):
    print(" ",end=' ')
  for n in range(0,i-1):
    print(" ",end=' ')
  for o in range(10,i-1,-1):
    print("*",end=' ')
  for p in range(10,i-1,-1):
    print("*",end=' ')
  for q in range(0,i-1):
    print(" ",end=' ')
  print ()

                  * *                                     * *
                * * * *                                 * * * *
              * * * * * *                             * * * * * *
            * * * * * * * *                         * * * * * * * *
          * * * * * * * * * *                     * * * * * * * * * *
        * * * * * * * * * * * *                 * * * * * * * * * * * *
      * * * * * * * * * * * * * *             * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * *         * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * *     * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [ ]:
for i in range(10,0,-1):
  for j in range(0,i-1):
    print(" ",end=' ')
  for k in range(10,i-1,-1):
    print("*",end=' ')
  for l in range(10,i-1,-1):
    print("*",end=' ')
  for m in range(0,i-1):
    print(" ",end=' ')
  print()
for i in range(10,i-1,-1):
  for j in range(10,i-1,-1):
    print(" ",end=' ')
  for k in range(0,i-1):
    print("*",end=' ')
  for l in range(0,i-1):
    print("*",end=' ')
  for m in range(10,i-1,-1):
    print(" ",end=' ')
  print ()

                  * *
                * * * *
              * * * * * *
            * * * * * * * *
          * * * * * * * * * *
        * * * * * * * * * * * *
      * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * *
        * * * * * * * * * * * *
          * * * * * * * * * *
            * * * * * * * *
              * * * * * *
                * * * *
                  * *

In [ ]:
for i in range(0,10):
  for j in range(0,10):
   print("#",end=' ')
  print()

# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #

In [ ]:
for i in range(0,10):
  for j in range(0,10):
   print("$",end=' ')
  print()

$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

In [ ]:
for i in range(0,10):
  for j in range(0,10):
   print("&",end=' ')
  print()

& & & & & & & & & &
& & & & & & & & & &
& & & & & & & & & &
& & & & & & & & & &
& & & & & & & & & &
& & & & & & & & & &
& & & & & & & & & &
& & & & & & & & & &
& & & & & & & & & &
& & & & & & & & & &

In [ ]:
for i in range(1, 11, 2):
        print(" " * ((11 - i) // 2), end="")
        print("*" * i)

     *
    ***
   *****
  *******
 *********

In [ ]:
a=int(input("enter number of rows"))
n=a*2
for i in range(1, n, 2):
        print(" " * ((n - i) // 2), end="")
        print("*" * i)

enter number of rows3
  *
 ***
*****

In [ ]:
n=int(input("enter number of rows:"))
for i in range(0,n):
  print(" "*(n-i)+"*"*((i*2)+1))

enter number of rows:8
        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************

In [ ]:
n=int(input("enter number of rows:"))
for i in range(n,-1,-1):
  print(" "*(n-i)+"*"*(1+2*i))

enter number of rows:6
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [ ]:
a=int(input("enter number of rows:"))
n=a//2
for i in range(0,n):
  print(" "*(n-i)+"*"*(1+2*i))
for i in range(n,-1,-1):
  print(" "*(n-i)+"*"*(1+2*i))

enter number of rows:6
   *
  ***
 *****
*******
 *****
  ***
   *

In [ ]:
for i in range(0,10):
  print("*"*(i))

*
**
***
****
*****
******
*******
********
*********

In [ ]:
for i in range(0,10):
  print(" "*(i)+"*"*(10-i))

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [ ]:
for i in range(0,10):
  print("*"*(10-i)+" "*(i))

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
for i in range(0,10):
  print(" "*(10-i)+"*"*(i))

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [ ]:
n=int(input("enter number of rows:"))
for i in range(n,-1,-1):
  print(" "*(n-i)+"*"*(1+2*i)+"  "*(n-i)+"*"*(1+2*i))

enter number of rows:6
**************************
 ***********  ***********
  *********    *********
   *******      *******
    *****        *****
     ***          ***
      *            *

In [ ]:
n=int(input("enter number of rows:"))
for i in range(0,n+1):
  print(" "*(n-i)+"*"*(1+2*i)+"  "*(n-i)+"*"*(1+2*i))

enter number of rows:6
      *            *
     ***          ***
    *****        *****
   *******      *******
  *********    *********
 ***********  ***********
**************************

In [ ]:
n=int(input("enter number of rows:"))
for i in range(n,-1,-1):
  print(" "*(n-i)+"*"*(1)+"  "*(i)+"*"*(1))
for i in range(0,n+1):
  print(" "*(n-i)+"*"*(1)+"  "*(i)+"*"*(1))

enter number of rows:6
*            *
 *          *
  *        *
   *      *
    *    *
     *  *
      **
      **
     *  *
    *    *
   *      *
  *        *
 *          *
*            *

In [ ]:
n=int(input("enter number of rows:"))
for i in range(0,n):
  print(" "*i+("*"*1)+"  "*(n-i)+"*"*1)
for i in range(0,n):
 print(" "*(n-i)+"*"*1+"  "*i+("*"*1))

enter number of rows:6
*            *
 *          *
  *        *
   *      *
    *    *
     *  *
      **
     *  *
    *    *
   *      *
  *        *
 *          *

In [ ]:
for i in range(1,10):
  print("*"*(10-i)+" "*(i)+" "*(i)+"*"*(10-i))
for i in range(1,10):
  print("*"*(i)+" "*(10-i)+" "*(10-i)+"*"*(i))

*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *
*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********

In [ ]:
n=int(input("enter a number"))
for i in range(0,n):
  print("*")
for i in range(0,n):
  print("*",end=' ')

enter a number10
*
*
*
*
*
*
*
*
*
*
* * * * * * * * * *

In [ ]:
n=int(input("enter a number"))
for i in range(0,n):
 print("*",end=' ')
for i in range(0,n):
 print("*",end=' ')
print()
for i in range(0,n):
  print(" "*((n*2)-2)+"*")

enter a number8
* * * * * * * * * * * * * * * *
              *
              *
              *
              *
              *
              *
              *
              *

In [ ]:
n=7
for i in range(0,n):
  print(" "*(2*n-i)+" *"*1+"  "*i+" *"*1)
for i in range(0,1):
  print(" "*(n+1)+"* "*(n+2))
for i in range(0,n):
  print(" "*(7-i)+"*"+"  "*(i+n+2)+"*"*1)

               * *
              *   *
             *     *
            *       *
           *         *
          *           *
         *             *
        * * * * * * * * *
       *                  *
      *                    *
     *                      *
    *                        *
   *                          *
  *                            *
 *                              *

In [ ]:
for i in range(0,1):
 print("* "*7,end=' ')
print()
for i in range(0,5):
  print("* "+" "*10+"*")
for i in range(0,1):
 print("* "*7,end=' ')
print()
for i in range(0,5):
  print("* "+" "*10+"*")
for i in range(0,1):
 print("* "*7,end=' ')

* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

In [ ]:
for i in range(0,1):
 print("* "*8,end=' ')
print()
for i in range(0,8):
  print("* ")
for i in range(0,1):
 print("* "*8,end=' ')

* * * * * * * *
*
*
*
*
*
*
*
*
* * * * * * * *

In [ ]:
for i in range(0,1):
 print("* "*9,end=' ')
print()
for i in range(0,8):
  print("* "+" "*14+"*")
for i in range(0,1):
 print("* "*9,end=' ')

* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *

In [ ]:
for i in range(0,1):
 print("* "*8,end=' ')
print()
for i in range(0,8):
  print("* ")
for i in range(0,1):
 print("* "*8,end=' ')
print()
for i in range(0,8):
  print("* ")
for i in range(0,1):
 print("* "*8,end=' ')

* * * * * * * *
*
*
*
*
*
*
*
*
* * * * * * * *
*
*
*
*
*
*
*
*
* * * * * * * *

In [ ]:
for i in range(0,1):
 print("* "*8,end=' ')
print()
for i in range(0,8):
  print("* ")
for i in range(0,1):
 print("* "*8,end=' ')
print()
for i in range(0,8):
  print("* ")

* * * * * * * *
*
*
*
*
*
*
*
*
* * * * * * * *
*
*
*
*
*
*
*
*

In [ ]:
for i in range(0,1):
 print("* "*8,end=' ')
print()
for i in range(0,4):
  print("* "+" "*12)
for i in range(0,1):
  print("*"+" "*13+"* "*6,end='')
print()
for i in range(0,4):
  print("* "+" "*12+"*"+" "*9+"* ")
for i in range(0,1):
 print("* "*8,end=' '+" "*7+"*")

* * * * * * * *
*
*
*
*
*             * * * * * *
*             *         *
*             *         *
*             *         *
*             *         *
* * * * * * * *         *

In [ ]:
for i in range(0,5):
  print("* "+" "*14+"*")
for i in range(0,1):
 print("* "*9,end=' ')
print()
for i in range(0,5):
  print("* "+" "*14+"*")

*               *
*               *
*               *
*               *
*               *
* * * * * * * * *
*               *
*               *
*               *
*               *
*               *

In [ ]:
for i in range(0,1):
  print(" "*5+"* "*5)
for i in range(0,10):
  print(" "*9+"*")
for i in range(0,1):
  print(" "*5+"* "*5)

     * * * * *
         *
         *
         *
         *
         *
         *
         *
         *
         *
         *
     * * * * *

In [ ]:
for i in range(0,1):
  print("* "*10)
for i in range(0,10):
  print(" "*9+"* ")
for i in range(0,1):
  print(" *"*5)

* * * * * * * * * *
         *
         *
         *
         *
         *
         *
         *
         *
         *
         *
 * * * * *

In [ ]:
for i in range(0,5):
  print("*"+"  "*(5-i)+"*"*1)
for i in range(0,5):
  print("* "+"  "*(i)+"*"*1)

*          *
*        *
*      *
*    *
*  *
* *
*   *
*     *
*       *
*         *

In [ ]:
for i in range(0,10):
  print("*")
for i in range(0,1):
  print("* "*10,end=' ')

*
*
*
*
*
*
*
*
*
*
* * * * * * * * * *

In [ ]:
for i in range(0,10):
  print(" "*(10-i)+"*"*1+"  "*i+"*"*1+"  "*(10-i)+"*"*1+"  "*i+"*"*1)

          **                    **
         *  *                  *  *
        *    *                *    *
       *      *              *      *
      *        *            *        *
     *          *          *          *
    *            *        *            *
   *              *      *              *
  *                *    *                *
 *                  *  *                  *

In [ ]:
for i in range(0,10):
  print(" "*(10-i)+"*"*1+"  "*i+"*"*1+"  "*(10-i)+"*"*1)

          **                    *
         *  *                  *
        *    *                *
       *      *              *
      *        *            *
     *          *          *
    *            *        *
   *              *      *
  *                *    *
 *                  *  *

In [ ]:
for i in range(0,1):
 print("* "*9,end=' ')
print()
for i in range(0,8):
  print("* "+" "*14+"*")
for i in range(0,1):
 print("* "*9,end=' ')

* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *

In [ ]:
for i in range(0,1):
 print("* "*9,end=' ')
print()
for i in range(0,8):
  print("* "+" "*14+"*")
for i in range(0,1):
 print("* "*9,end=' ')
print()
for i in range(0,8):
  print("*")

* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *
*
*
*
*
*
*
*
*

In [ ]:
for i in range(0,1):
 print("* "*9,end=' ')
print()
for i in range(0,8):
  print("* "+" "*14+"*")
for i in range(0,1):
 print("* "*9,end=' ')
print()
for i in range(0,8):
  print(" "*7+"*")
for i in range(0,1):
  print(" "*7+"* "*4)

* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *
       *
       *
       *
       *
       *
       *
       *
       *
       * * * *

In [ ]:
for i in range(0,1):
 print("* "*9,end=' ')
print()
for i in range(0,8):
  print("* "+" "*14+"*")
for i in range(0,1):
 print("* "*9,end=' ')
print()
for i in range(0,8):
  print("* "+"  "*(i)+"*"*1)

* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *
* *
*   *
*     *
*       *
*         *
*           *
*             *
*               *

In [ ]:
for i in range(0,1):
 print("* "*8,end=' ')
print()
for i in range(0,8):
  print("* ")
for i in range(0,1):
 print("* "*8,end=' ')
print()
for i in range(0,8):
  print(" "*14+"* ")
for i in range(0,1):
 print("* "*8,end=' ')

* * * * * * * *
*
*
*
*
*
*
*
*
* * * * * * * *
              *
              *
              *
              *
              *
              *
              *
              *
* * * * * * * *

In [ ]:
for i in range(0,1):
  print("* "*10)
for i in range(0,10):
  print(" "*9+"* ")

* * * * * * * * * *
         *
         *
         *
         *
         *
         *
         *
         *
         *
         *

In [ ]:
for i in range(0,8):
  print("* "+" "*14+"*")
for i in range(0,1):
 print("* "*9,end=' ')

*               *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *

In [ ]:
for i in range(0,10):
  print(" "*i+"*"*1+"  "*(10-i)+"*"*1)

*                    *
 *                  *
  *                *
   *              *
    *            *
     *          *
      *        *
       *      *
        *    *
         *  *

In [ ]:
for i in range(0,10):
  print(" "*i+"*"*1+"  "*(10-i)+"*"*1+("  "*i+"*"*1+"  "*(10-i)+"*"*1))

*                    **                    *
 *                  *  *                  *
  *                *    *                *
   *              *      *              *
    *            *        *            *
     *          *          *          *
      *        *            *        *
       *      *              *      *
        *    *                *    *
         *  *                  *  *

In [ ]:
for i in range(0,10):
  print(" "*i+"*"*1+"  "*(10-i)+"*"*1)
for i in range(0,10):
  print(" "*(10-i)+"*"*1+("  "*i+"*"*1))

*                    *
 *                  *
  *                *
   *              *
    *            *
     *          *
      *        *
       *      *
        *    *
         *  *
          **
         *  *
        *    *
       *      *
      *        *
     *          *
    *            *
   *              *
  *                *
 *                  *

In [ ]:
for i in range(0,10):
  print(" "*i+"* "*1+"  "*(10-i)+"*"*1)
for i in range(0,10):
  print(" "*10+" *")

*                     *
 *                   *
  *                 *
   *               *
    *             *
     *           *
      *         *
       *       *
        *     *
         *   *
           *
           *
           *
           *
           *
           *
           *
           *
           *
           *

In [ ]:
for i in range(0,1):
  print("* "*7)
for i in range(0,10):
  print(" "*(10-i)+"*"*1)
for i in range(0,1):
  print("* "*7)

* * * * * * *
          *
         *
        *
       *
      *
     *
    *
   *
  *
 *
* * * * * * *